/* © All rights reserved to Jonathan Calinsky - 2015 */
@charset "utf-8";
/* Page properties */
@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html, body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
}

html {
    background: url('../images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clear {
    clear:both;
}

.clear_more {
    clear:both;
    margin-top: 8%;
}

.add_your_own a {
    text-align: right;
    color: white;
    font-size: x-large;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    background-color: rgb(142, 180, 227);
    display: table;
    padding: 5px;
    text-decoration: none;
}

div.yes_click {
    margin-right: 33%;
    float: right;
    text-align: center;
    height: 80px;
    width: 230px;
    background: url('../images/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.yes_click:hover {
    background-image: url('../images/hovered_button.png');    
}

div.no_click {
    margin-top: 15px;
    margin-left: 33%;
    float: left;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px solid rgb(106, 0 ,0);
    background-color: rgb(192, 0, 0);
    color: white;
    font-size: x-large;
}

.if {
    margin-top: 1%;
    text-align: right;
    float: right;
    margin-right: 35%;
}

.but {
    margin-top: 1%;
    text-align: right;
    float: right;
}

.report {
    margin: 2% auto;
    width: 30%;
}

.report_text {
    text-align: right;
    float: right;
    color: black;
    text-decoration: none;
}

.refresh_text {
    text-align: left;
    float: left;
    color: black;
    text-decoration: none;
}

.if_text {
    font-size: xx-large;
    color: white;
    text-shadow:
    -1px -1px 5px #66ffff,  
    1px -1px 5px #66ffff,
    -1px 1px 5px #66ffff,
    1px 1px 5px #66ffff;
}

.but_text {
    margin-right: 10px;
    font-size: xx-large;
    color: white;
    text-shadow:
    -1px -1px 5px red,  
    1px -1px 5px red,
    -1px 1px 5px red,
    1px 1px 5px red;
}

.if_content, .but_content {
    float: left;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgb(142, 180, 227);
    border: 2px solid rgb(56, 93, 138);
}

textarea {
    height: 50px;
    resize: none;
}

.submit {
    background-color: rgb(0, 176, 80);
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.result_part {
    border: 2px solid rgb(56, 93, 138);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgb(142, 180, 227);
    padding: 5px;
    width: 85%;
    margin: 0 auto;
}

.text {
    font-size: large;
}

.unliked {
    float: right;
    width: 150px;
    background-color: red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    color: black;
}

.liked {
    float: left;
    width: 130px;
    background-color: rgb(0, 176, 80);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    color: black;
}

.unliked_text {
    float: right;
}

.liked_text {
    float: left;
}

.liked_unliked_wrapper, .liked_unliked_text_wrapper {
    margin: 0 auto;
    width: 30%;
}

.liked_unliked_text_wrapper {
    
}

.header {
    color: black;
    text-decoration: none;
}

.terms_open {
    text-decoration: underline;
    cursor: pointer;
}

.terms_content {
    display: none;
}

.success:empty, .error:empty {
    display: none;
}

.success, .error {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 240px;
    margin: 0 auto;
}

.success {
    color: green;
    background-color: greenyellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.error {
    color: red;
    background-color: lightcoral;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}